.home-search-container {
  width: 100%;
  height: 300px;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.search-bar-container {
  height: 100px;
  background-color: black;
  width: 80%;
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding: 25px;
}

.calender-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-left: 1px solid black;

}
.guests-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding: 25px;

}

.search-item {
  width: 33.33%;
  height: inherit;
  display: flex;
  justify-content: center;
  background-color: white;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.map-top {
  width: 100%;
}

#map-canvas{
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

}
