// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-name {
  // display: flex;
  // justify-content: space-around;
  text-align: center;

}

.lname, .fname {
  // display: flex;
  display: inline-block;
  margin: auto;
}

.login-title {
  display: flex;
  justify-content: center;
}

img.logo {
  height: 32px;
  width: 32px;
}

.search {
  position: fixed;
  z-index: 5;
}

Button.test {
  color: red;
}

.place-detail-img {
  display: flex;
  justify-content: center;
}

.home-content {
  margin-top: 60px;
}

.create-place-form {
  margin-top: 60px;
}

.new-listing-container {
  margin: 40px 40px;
}
// jScrollability
// .section-3 .text-wrapper {
//     max-width: 600px;
//     margin: auto;
//     font-size: 2em;
//     line-height: 1.5em;
//     margin-top: 4%;
//
// }
//
// .section-3 .text-wrapper span {
//     opacity: 0;
//     -webkit-transition: opacity 0.2s;
// }
//
// .section-3 .text-wrapper span.visible {
//     opacity: 1;
// }
