// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-name {
  // display: flex;
  // justify-content: space-around;
  text-align: center;

}

.lname, .fname {
  // display: flex;
  display: inline-block;
  margin: auto;
}

img {
  height: 32px;
  width: 32px;
    // max-width: 100%;
    // height: auto;
    // width: auto\9; /* ie8 */
}

Button.test {
  color: red;
}

// .fade-scale {
//   transform: scale(0);
//   opacity: 0;
//   -webkit-transition: all .25s linear;
//   -o-transition: all .25s linear;
//   transition: all .25s linear;
// }
//
// .fade-scale.in {
//   opacity: 1;
//   transform: scale(1);
// }
.section-3 .text-wrapper {
    max-width: 600px;
    margin: auto;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 4%;

}

.section-3 .text-wrapper span {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
}

.section-3 .text-wrapper span.visible {
    opacity: 1;
}
