// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-name {
  // display: flex;
  // justify-content: space-around;
  text-align: center;

}

.lname, .fname {
  // display: flex;
  display: inline-block;
  margin: auto;
}

// span {
//   color: blue;
// }
