<!DOCTYPE html>
<html>
<head>
  <title>ScareBnB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzOmFmLpwcXxRKC3pw4pyMhl1BB-t8J0w&libraries=places"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
